

  /* Container for the login form */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  /* Login Box Styling */
  .login-box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    position: relative;
    z-index: 1; /* Ensures the form is above the background */
  }
  
  h2 {
    margin-top: 0px;
    font-size: 1.8rem;
    color: #333;
  }
  
  /* Logo Styling */
  .logo-container {
    display: flex;
    justify-content: center;
  }
  
  .login-logo {
    width: 100px; /* Adjust size as needed */
    height: auto;
    display: block;
  }
  
  /* Form Input Group */
  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .input-group label {
    font-size: 1rem;
    color: #666;
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .input-group input:focus {
    border-color: #0066cc;
    outline: none;
  }
  
  /* Button Styling */
  .btn-login {
    background-color: #ff0800;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .btn-login:hover {
    background-color: #993000;
  }
  
  .btn-login:focus {
    outline: none;
  }
  